name: Go Continuous Improvement

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  go-pipeline:
    runs-on: ubuntu-latest
    container:
      image: golang
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: '3.x'

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Run CI task from Taskfile
        run: task ci
