name: Go Continuous Improvement
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  go-pipeline:
    runs-on: ubuntu-latest
    container:
      image: golang
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Add the folder to the safe directories
        run: git config --global --add safe.directory '/__w/crypto-broker/crypto-broker'

      - name: Set the dependencies
        run: go mod tidy && go mod verify

      - name: Check code formatting
        run: test -z "$(gofmt -l .)"

      - name: Run static analysis
        run: go vet ./...

      - name: Install govulncheck for vulnerability analysis
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Run vulnerability analysis
        run: govulncheck 

      - name: Run unit tests
        run: go test -race ./...